<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>BMaKE</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" href="layout/styles/layout.css" type="text/css" />
<script type="text/javascript" src="layout/scripts/jquery.min.js"></script>
<!-- Superfish Menu -->
<script type="text/javascript" src="layout/scripts/superfish/jquery.hoverIntent.js"></script>
<script type="text/javascript" src="layout/scripts/superfish/superfish.js"></script>
<script type="text/javascript">
jQuery(function () {
    jQuery('ul.nav').superfish();
});
</script>
<!-- / Superfish Menu -->
</head>
<body id="top">
<div class="wrapper">
  <div id="header">
  <div style="padding:30px; background-color:#c5092a;">
    <p class="fl_left" style="font-size:18px; color:#ffffff; background-color:#c5092a;">BMaKE@
	<a style="background-color:#c5092a; color:#e2e0e0;" href="https://www.th-brandenburg.de/startseite/" target="_blank">THB</a></p>
	<!--
	<p class="fl_right" style="font-size:15px; margin-right:30px;">
	<a style="text-align:right; background-color:#c5092a; color:#e2e0e0;" href="pages/imprint.html">Imprint</a>
	</p>
	<p class="fl_right" style="font-size:15px; margin-right:20px;">
	<a style="text-align:right; background-color:#c5092a; color:#e2e0e0;" href="pages/privacy.html">Privacy</a>
	</p>
	-->
	</div>
    <h1>
	<a href="index.html">
	<img src="images/logo_bmake.png" width="100" height="100" alt="" class="center"/><strong>BMaKE</strong>
	</a>
	</h1>
    <p>Research Group Business Modeling and Knowledge Engineering</p>
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper">
  <div id="topnav">
    <ul class="nav">
      <li class="active"><a href="index.html">Homepage</a></li>
      <li><a href="pages/research.html">Research</a></li>
      <li><a href="pages/publications.html">Publications</a></li>
      <li><a href="pages/teaching.html">Teaching</a></li>
	  <li><a href="pages/theses.html">Theses</a></li>
    </ul>
  </div>
</div>
<!-- ####################################################################################################### -->


<div class="wrapper">
  <div class="container">
    <div class="whitebox"> 
      <!-- ############################# -->
	  <p style="font-size:15px; color:#000000;">Announcements & Activity Report</p>
      <div class="portfolio">
        <div class="fl_left">
          <h2>BMaKE-Seminar geplant</h2>
          <p style="color:#969696">17. April 2019, 9:00 Uhr</p>
          <p>Nach einer Pause in der vorlesungsfreien Zeit wird das BMaKE-Seminar am 17.04.2019 wieder aufgenommen. Aleksandra Revina wird die Ergebnisse der
		     gemeinsamen Forschung mit Dr. Nina Rizun von der Gdansk University of Technologies zur Entscheidungs-Unterstützung durch Analyse von 
			 Text-Corpora aus Service-Desk-Tickets vorstellen. Wenxin Hu präsentiert ihr Exposé zur Masterarbeit zum Thema "Visuelle Dokumentation von 
			 Wissensgraphen" und Emre Arkan erläutert den Ansatz für seine Bachelorarbeit zu Performance-Benchmarks für Neo4J im Hinblick auf Graph-Abfragen. 
			 Beide Arbeiten erfolgen in Kooperation mit der eccenca GmbH Leipzig.			  
		  </p>
          <!-- <p class="readmore"><a href="pages/newsPages/newsMoreInfo.html">View More Information &raquo;</a></p> -->
        </div>
        <div class="fl_right"><img src="images/logo_bmake.png" alt="" /></div>
        <div class="clear"></div>
      </div>
      <!-- ############################# -->
      <div class="portfolio">
        <div class="fl_left">
          <h2>BMaKE-Team auf dem Zukunftstag der THB</h2>
          <p style="color:#969696">28. März 2019</p>
          <p>Wenxin Hu und Marcel Cikus gestalteten im Rahmen des diesjährigen Zukunftstages der THB einen Workshop zum Thema "Schön und schlau - geht das?
			Klar, mit dem Rezept für clevere Apps!" Spielerisch und interaktiv konnten die TeilnehmerInnen des Workshops das Rezept der App fbwTube erkunden
			und diese "Vorschrift" dann auf andere Apps übertragen. Es wurde deutlich, dass eine komplexe App nicht auf einem leeren Blatt entsteht, sondern
			viele vorgefertigte Zutaten umfasst. Es werden also viele Köche und Zulieferer gebraucht und das Ganze muss auch noch schlau koordiniert werden.</p>
          <p class="readmore"><a href="https://www.th-brandenburg.de/studium/studienorientierung/campusbesuch/zukuntstag/" target="_blank">
		  View More Information &raquo;</a></p>
        </div>
        <div class="fl_right"><img src="images/fbwTube_clear.png" alt="" /></div>
        <div class="clear"></div>
      </div>
      <!-- ############################# -->
      <div class="portfolio">
        <div class="fl_left">
          <h2>Start EKEN im SoSe19</h2>
          <p style="color:#969696">26. März 2019</p>
          <p>Wir freuen uns über großes Interesse an unserem Wahlplichtmodul Enterprise Knowledge Engineering (EKEN), das wieder im Sommersemester 
		  angeboten wird. 15 Studierende aus sechs Nationen werden sich mit den neuesten Erkenntnissen im Feld der technischen Modellierung 
		  organisationalen Wissens auseinandersetzen. Höhepunkt des Kurses wird die Teilnahme an einer studentischen Postersession im Rahmen des
		  <a href="https://lswt2019.aksw.org/#Date" target="_blank">7. Leipziger Semantic Web Days</a> am 22. Mai sein.</p>
          <!-- <p class="readmore"><a href="pages/newsPages/newsMoreInfo.html">View More Information &raquo;</a></p> -->
        </div>
        <div class="fl_right"><img src="images/demo/80x80.gif" alt="" /></div>
        <div class="clear"></div>
      </div>
      <!-- ############################# -->
      <div class="clear"></div>
    </div>
  </div>
</div>

<!-- ####################################################################################################### -->
<div class="wrapper">
  <div id="footer">
    <div class="latestgallery">
      <h2 style="color:#414141;">Get In Touch</h2>
	  <div align="left">
	  <span style="float:left;">
	  <p>&nbsp;</p>
	  <p><strong>Prof. Dr. Vera G. Meister</strong></p>
	  <p>&nbsp;</p>
	  <p>Professor in Business Information Systems</p>
	  <p>&nbsp;</p>
	  <p>Email: <a style="color:#c5092a;" href="mailto:vera.meister@th-brandenburg.de">vera.meister@th-brandenburg.de</a></p>
	  </span>
	  <span style="float:right; margin-right:50px;">
	  <p>&nbsp;</p>
	  <p><strong>Wenxin Hu, B.Sc.</strong></p>
	  <p>&nbsp;</p>
	  <p>Research Assistant</p>
	  <p>&nbsp;</p>
	  <p>Email: <a style="color:#c5092a;" href="mailto:wenxin.hu@th-brandenburg.de">wenxin.hu@th-brandenburg.de</a></p>
	  </span>
	  </div>
    </div>
    <br class="clear" />
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper">
  <div id="copyright">
    <p class="fl_left">Copyright &copy; 2019 - All Rights Reserved - <a href="#">BMaKE@<a href="https://www.th-brandenburg.de/startseite/" target="_blank">THB</a></a></p>
	<p class="fl_right" style="margin-right:50px;"><a href="pages/imprint.html">Imprint</a></p>
	<p class="fl_right" style="margin-right:20px;"><a href="pages/privacy.html">Privacy</a></p>
    <br class="clear" />
  </div>
</div>
</body>
</html>